<ion-header>
  <ion-toolbar [color]="colorStatus?'toolbar-color':'medium'">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class=ion-text-left>Adicionar Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="item == 'adicionar'">
    <ion-list>
      <ion-list-header>
        <ion-label>
          Adicionar Usuário
        </ion-label>
      </ion-list-header>

      <ion-item>

        <ion-label color="medium" position="floating">Tipo de Usuário</ion-label>
        <ion-select [(ngModel)]="tipoUsuario">
          <ion-select-option value="pai">Pai</ion-select-option>
          <ion-select-option value="tera">Terapeuta</ion-select-option>
          <ion-select-option value="adm">Administrador</ion-select-option>
        </ion-select>
      </ion-item>


      <ion-item *ngIf="tipoUsuario != 'pai'">
        <ion-label position="floating">Nome</ion-label>
        <ion-input type="text" [(ngModel)]="nome" placeholder="Ex.: João Pedro"></ion-input>
      </ion-item>

      <ion-item *ngIf="tipoUsuario == 'pai'">
        <ion-label position="floating">Nome do responsável</ion-label>
        <ion-input type="text" [(ngModel)]="nome" placeholder="Ex.: João Pedro"></ion-input>
      </ion-item>

      <ion-item *ngIf="tipoUsuario == 'pai'">
        <ion-label position="floating">Nome do filho</ion-label>
        <ion-input type="text" [(ngModel)]="nomeFilho" placeholder="Ex.: Marco Taborga"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" placeholder="Ex.: joao.pedro@gmail.com"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">CPF</ion-label>
        <ion-input inputmode="numeric" [(ngModel)]="cpf" maxlength="11" type="number" placeholder="12345678912"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label position="floating">Confirmar CPF</ion-label>
        <ion-input [(ngModel)]="concpf" maxlength="11" type="number" placeholder="12345678912"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button color="medium" expand="block" (click)="criarConta()">
      Adicionar nova usuário
    </ion-button>
  </div>
</ion-content>