<ion-header>
  <ion-toolbar [color]="colorStatus?'toolbar-color':'medium'">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class=ion-text-left>Adicionar Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>




  <div *ngIf="item == 'adicionar'">

      <ion-list-header>
        <ion-label>
          Adicionar Usuário
        </ion-label>
      </ion-list-header>

      <div *ngIf="tipoUsuario == 'atend'">
        <div class="centro">
          <img *ngIf="imgMenino" class="conteudo" [src]="imgMenino" (click)="cam()">
        </div>
      </div>

      <ion-item>
        <ion-label color="medium" position="floating">Tipo de Usuário</ion-label>
        <ion-select [(ngModel)]="tipoUsuario">
          <ion-select-option value="pai">Pai</ion-select-option>
          <ion-select-option value="terapeuta">Terapeuta</ion-select-option>
          <ion-select-option value="adm">Administrador</ion-select-option>
          <ion-select-option value="atend">Atendido</ion-select-option>
        </ion-select>
      </ion-item>


      <div *ngIf="tipoUsuario == 'atend'">
        <ion-item>
          <ion-label position="floating">Nome:</ion-label>
          <ion-input type="text" [(ngModel)]="nome" placeholder="Ex.: João Pedro"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Idade:</ion-label>
          <ion-input type="number" [(ngModel)]="idade" placeholder="Ex.: 14"></ion-input>
        </ion-item>

        <ion-item>

          <ion-label color="medium" position="floating">Grau de Autismo:</ion-label>
          <ion-select placeholder="Selecione" [(ngModel)]="grauAutismo">
            <ion-select-option value="Leve">Leve</ion-select-option>
            <ion-select-option value="Moderado">Moderado</ion-select-option>
            <ion-select-option value="Severo">Severo</ion-select-option>
            <ion-select-option value="Não Especificado">Não Especificado</ion-select-option>
          </ion-select>
        </ion-item>

      </div>


      <div *ngIf="tipoUsuario == 'pai'">
        <ion-item>
          <ion-label position="floating">Nome do responsável:</ion-label>
          <ion-input type="text" [(ngModel)]="nome" placeholder="Ex.: João Pedro"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Filho(s:)</ion-label>
          <ion-select [(ngModel)]="nomeFilho" placeholder="Selecione: " multiple>
            <ion-select-option *ngFor="let atendido of Atendidos | async">
              {{atendido.nome}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div *ngIf="tipoUsuario != 'atend'">
        <ion-item *ngIf="tipoUsuario != 'pai'">
          <ion-label position="floating">Nome:</ion-label>
          <ion-input type="text" [(ngModel)]="nome" placeholder="Ex.: João Pedro"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email:</ion-label>
          <ion-input type="email" [(ngModel)]="email" placeholder="Ex.: joao.pedro@gmail.com"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="medium" position="floating">CPF:</ion-label>
          <ion-input type="text" [(ngModel)]="cpf" placeholder="123.456.789-10" 
            maxlength="14">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="medium" position="floating">Confirme seu CPF:</ion-label>
          <ion-input type="text" [(ngModel)]="cpf" placeholder="123.456.789-10" 
            maxlength="14">
          </ion-input>
        </ion-item>
      </div>



      <ion-button color="medium" expand="block" (click)="criarConta()">
        Adicionar novo usuário
      </ion-button>




  </div>
</ion-content>