<ion-header>
  <ion-toolbar [color]="colorStatus?'toolbar-color':'medium'">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <div class="centro">
      <img class="conteudo" [src]="item.foto" (click)="cam()">
    </div>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>
          Dados da Criança
        </ion-card-subtitle>
      </ion-card-header>

      <img *ngIf="imgPessoa" [src]="item.foto">

      <ion-item>
        <ion-label position="floating" color="medium">Nome:</ion-label>
        <br>
        <p>{{item.nome}}</p>
      </ion-item>


      <ion-item>
        <ion-label color="medium" position="floating">Idade:</ion-label>
        <br>
        <p>{{item.idade}}</p>
      </ion-item>

      <ion-item>
        <ion-label color="medium" position="floating">Grau de Autismo</ion-label>
        <br>
        <p>{{item.grauAutismo}}</p>
      </ion-item>

      <ion-item *ngIf="item.pais">
        <ion-label color="medium" position="floating">Pais</ion-label>
        <br>
        <p>{{item.pais}}</p>
      </ion-item>

    </ion-card>

    <ion-button (click)="presentModal()" expand="block" color="medium">Fazer Informe</ion-button>





  </ion-content>