<ion-header>
  <ion-toolbar [color]="colorStatus?'toolbar-color':'medium'">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <div class="centro">
      <img class="conteudo" [src]="item.foto">
    </div>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>
          Dados da Criança
        </ion-card-subtitle>
      </ion-card-header>


      <ion-card-content>
        <ion-label>
          <b>Nome: </b>
        </ion-label>

        <p>{{item.nome}}</p>

        <br>

        <ion-label>
          <b>Idade: </b>
        </ion-label>

        <p>{{item.idade}}</p>

        <br>

        <ion-label>
          <b>Nivel de Autismo: </b>
        </ion-label>

        <p>{{item.grauAutismo}}</p>
        <br>
        <ion-label>
          <b>Pais: </b>
        </ion-label>

        <p>{{item.pais}}</p>
      </ion-card-content>
    </ion-card>
    <ion-button (click)="presentModal()" expand="block" color="medium">Fazer Informe</ion-button>

  </ion-content>