<ion-header>
    <ion-toolbar [color]="colorStatus?'toolbar-color':'medium'">
        <ion-title>Mensagens</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <ion-segment (ionChange)="segmentChanged($event)" color="medium" mode="ios" value="login">
            <ion-segment-button mode="ios" value="login">
                <ion-label>Recebidos</ion-label>
            </ion-segment-button>
            <ion-segment-button mode="ios" value="register">
                <ion-label>Enviados</ion-label>
            </ion-segment-button>
        </ion-segment>
    </div>

    <ion-slides>
        <ion-slide>
            <div class="slide-inner ion-padding">
                <span>Recebidos</span>
             

            </div>
        </ion-slide>

        <ion-slide>
            <div class="slide-inner ion-padding">
                <span>Enviados</span>

            </div>
        </ion-slide>
    </ion-slides>


</ion-content>