<ion-header>
    <ion-toolbar [color]="colorStatus?'toolbar-color':'medium'">
        <ion-buttons slot="end">
            <ion-button (click)="sair()">
                <ion-icon slot="icon-only" name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Calendário
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card *ngFor="let evento of eventos | async" class="evento" (click)="presentModal(evento)">
        <ion-card-content>
            <ion-row wrap>
                <ion-col size="4.5">
                    <h6 id="dataEvento">{{evento.dataEvento.toDate() | date: 'dd/MM/yyyy'}}</h6>
                    <h6>{{evento.horaInicio.toDate() | date: 'HH:mm'}}</h6>

                </ion-col>
                <ion-col size="7.5">
                    <ion-card-subtitle>{{evento.nomeEvento}}</ion-card-subtitle>
                    <p>{{evento.detalheEvento}}</p>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>


    <ion-fab *ngIf="typo == 'adm'" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="presentModal('edit')">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>



</ion-content>