<ion-content class="fn-img">
  <div>


  </div>
  <div class="input">
    <ion-card>
      <ion-item>
        <ion-input type="text" placeholder="Email" [(ngModel)]="email"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-input type="password" placeholder="CPF" [(ngModel)]="cpf"></ion-input>
      </ion-item>
    </ion-card>

    <div>

      <ion-button (click)="login()" class="btnLogin" expand="block" color="medium">Login</ion-button>

      <ion-button fill="clear" expand="block" color="light">Esqueceu a senha?</ion-button>
    </div>
  </div>

</ion-content>