<ion-content class="fn-img">
  <div>


  </div>
  <div class="input">
    <ion-card>
      <ion-item>
        <ion-input type="text" placeholder="Email" [(ngModel)]="email"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-input [type]="tipo ? 'text' : 'password'" type="password" placeholder="Senha" [(ngModel)]="senha">
        </ion-input>
        <button expand="block" (click)="hideShow()">
          <ion-icon [name]="tipo ? 'eye-off' : 'eye'">
          </ion-icon>
        </button>
      </ion-item>
    </ion-card>

    <div>
      <ion-button (click)="login()" class="btnLogin" expand="block" color="medium">Login</ion-button>
    </div>
  </div>

</ion-content>