<ion-content class="fn-img">
  <div>


  </div>
  <div class="input">
    <ion-card>
      <ion-item>
        <ion-input type="text" placeholder="Email"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-input type="password" placeholder="Senha"></ion-input>
      </ion-item>
    </ion-card>

    <div>

      <ion-button  class="btnLogin" expand="block" color="primary">Login</ion-button>
      
      <ion-button  fill="clear" color="secondary"expand="block" color="primary">Esqueceu a senha?</ion-button>
    </div>
  </div>

</ion-content>