.fn-img {
  --background: url("../../assets/background-login.png") no-repeat center center / cover;
}


.input {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.btn-login {
  --border-radius: 100px;
}
