<ion-header>
  <ion-toolbar [color]="colorStatus?'toolbar-color':'medium'">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Descrição do Dia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Data: {{ this.info.dateAtend.toDate() | date: 'dd/MM/yyyy' }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Mais detalhes:</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{this.info.detalhes}}
      <p>Idas ao banheiro: {{ this.info.nTime }}</p>
      <p>Alimentação: {{ this.info.nTime }}</p>
      <p>Nota de Comportamento: {{ this.info.conduct }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>