<ion-header>
  <ion-toolbar [color]="colorStatus?'toolbar-color':'medium'">
    <ion-title>
      Informes
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-item>
    <ion-label>Data</ion-label>
    <ion-datetime display-format="DD de MMM de YYYY" picker-format="DD MM YYYY" min="2019-10-15" max="2019-12-15"
      value="2019-12-15"
      monthShortNames="janeiro, fevereiro, março, abril, maio, junho, julho, agosto, setembro, outubro, novembro, dezembro">
    </ion-datetime>
  </ion-item>

  <ion-card>
    <ion-card-content>
      <ion-card-subtitle>Avisos</ion-card-subtitle>
      <p *ngFor="let aviso of avisos">{{ aviso.name }}</p>
    </ion-card-content>
  </ion-card>

</ion-content>