<ion-header>
    <ion-toolbar [color]="colorStatus?'toolbar-color':'medium'">
        <ion-buttons slot="end">
            <ion-button (click)="sair()">
                <ion-icon slot="icon-only" name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Informes
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>

    <ion-card class="informe" *ngFor="let informe of informes | async" (click)="presentModal(informe)">
        <ion-card-content>
            <ion-card-subtitle>Dia: {{ informe.dateAtend.toDate() | date:'dd/MM/yyyy'}}</ion-card-subtitle>
            <p>Idas ao banheiro: {{ informe.nTime }}</p>
            <p *ngIf="informe.comeu == false">Alimentação: Não comeu</p>
            <p *ngIf="informe.comeu == true">Alimentação: Comeu</p>

            <p>Nota de Comportamento: {{ informe.conduct }}</p>

        </ion-card-content>
    </ion-card>


</ion-content>