ion-card{
    background-color: rgb(0, 134, 130);
}
p, ion-card-subtitle{
    color: white;
}
.BtnCentro{
    justify-self: center;
}
.informe {
    max-height: 130px;
    overflow: hidden;
    padding: 2px !important;
  }
  .vermelho {
    max-height: 130px;
    overflow: hidden;
    padding: 2px !important;
  }
