<ion-header>
    <ion-toolbar [color]="colorStatus?'toolbar-color':'medium'">
        <ion-title>
            Informes
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>


    <!-- Escolher data, pode ser útil
    <ion-item>
    <ion-label>Data</ion-label>
    <ion-datetime display-format="DD de MMM de YYYY" picker-format="DD MM YYYY" min="2019-10-15" max="2019-12-15"
      value="2019-12-15"
      monthShortNames="janeiro, fevereiro, março, abril, maio, junho, julho, agosto, setembro, outubro, novembro, dezembro">
    </ion-datetime>
  </ion-item> -->



    <ion-card *ngFor="let aviso of informes | async">
        <ion-card-content (click)="presentModal(aviso)">
            <ion-card-subtitle>Dia {{aviso.data}}</ion-card-subtitle>
            <p>Idas ao banheiro: {{ aviso.banheiro[0] }}</p>
            <p>Alimentação: {{ aviso.alimentacao }}</p>
            <p>Água: {{ aviso.agua }}</p>
        </ion-card-content>
    </ion-card>


</ion-content>