<ion-header>
    <ion-toolbar [color]="colorStatus?'toolbar-color':'medium'">
        <ion-buttons slot="end">
            <ion-button (click)="sair()">
                <ion-icon slot="icon-only" name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Notícias
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="typo == 'adm'">
        <ion-card class="aviso" *ngFor="let noticia of noticias | async" (click)="editarNoticia(noticia)">
            <ion-card-header>
                <ion-card-subtitle>{{noticia.nome}}</ion-card-subtitle>
            </ion-card-header>


            <ion-card-content>
                <p>{{noticia.mensagem}}</p>
            </ion-card-content>
        </ion-card>

    </div>
    <div *ngIf="typo == 'pai'">
        <ion-card class="aviso" *ngFor="let noticia of noticias | async" (click)="presentAlert(noticia)">
            <ion-card-header>
                <ion-card-subtitle>{{noticia.nome}}</ion-card-subtitle>
            </ion-card-header>


            <ion-card-content>
                <p>{{noticia.mensagem}}</p>
            </ion-card-content>
        </ion-card>
    </div>











    <ion-fab *ngIf="typo == 'adm'" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="novaNoticia()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>