<ion-header>
  <ion-toolbar [color]="colorStatus?'toolbar-color':'medium'">
    <ion-title>
      Notícias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="aviso">
    <ion-card-header>
      <ion-card-subtitle>Aviso: Novos módulos</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Estamos disponibilizando novos tipos de módulos para encomendas</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="aviso">
    <ion-card-header>
      <ion-card-subtitle>Aviso: Novos módulos</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Estamos disponibilizando novos tipos de módulos para encomendas</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="aviso">
    <ion-card-header>
      <ion-card-subtitle>Aviso: Novos módulos</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Estamos disponibilizando novos tipos de módulos para encomendas</p>
    </ion-card-content>
  </ion-card>
</ion-content>