<ion-header>
  <ion-toolbar [color]="colorStatus?'toolbar-color':'medium'">
    <ion-buttons slot="end">
      <ion-button (click)="sair()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Requisições
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!--Mostra card para cada categoria-->

  <div *ngIf="typo == 'adm'">
    <ion-list>
      <ion-list-header>
        Status das Requisições
      </ion-list-header>
      <ion-item *ngFor="let req of req | async">
        <ion-label>Pedidos de {{req.nome}}</ion-label>
        <div *ngIf="req.status == false">
          <ion-note color="danger">Desativado</ion-note>
        </div>

        <div *ngIf="req.status == true">
          <ion-note color="success">Ativado</ion-note>
        </div>
      </ion-item>
    </ion-list>
    <ion-button expand="small" slot="end" fill="outline" (click)="presentModal('req')">Alterar</ion-button>
  </div>

  <div *ngIf="typo == 'pai'">
    <div *ngFor="let req of req | async">
      <ion-card *ngIf="req.status == true" (click)="presentModal(req)">
        <img class="img" src="{{req.img}}" />
        <div class="card-title">{{req.nome}}</div>
      </ion-card>
    </div>
  </div>
</ion-content>