ion-card {
  position: relative;
  text-align: center;
}

// Formatação do título
.card-title {
  text-shadow: 1px 2px 4px #000000;
  position: absolute;
  top: 36%;
  font-size: 2.0em;
  width: 100%;
  font-weight: bold;
  color: #fff;
}

// Efeito de 'embaçamento' na imagem
.img {
  height: 130px;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}