<ion-toolbar [color]="colorStatus?'toolbar-color':'medium'">
  <ion-buttons slot="end">
    <ion-button (click)="sair()">
      <ion-icon slot="icon-only" name="log-out"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>
    Usuários
  </ion-title>
</ion-toolbar>

<ion-content>


  <!--PARTE DOS TERAPEUTAS-->
  <ion-list>
    <ion-list-header>
      Terapeutas
    </ion-list-header>

    <ion-item *ngFor="let terapeuta of terapeutas | async">
      <ion-label>
        <h2>{{terapeuta.nome}}</h2>
        <p>{{terapeuta.email}}</p>
      </ion-label>

    </ion-item>
  </ion-list>

  <!--PARTE DOS PAIS-->
  <ion-list>
    <ion-list-header>
      Pais
    </ion-list-header>

    <ion-item *ngFor="let pai of pais | async">
      <ion-label>
        <h2>{{pai.nome}}</h2>
        <p>{{pai.email}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!--PARTE DOS ADM-->
  <ion-list>
    <ion-list-header>
      <ion-label>
        Administradores
      </ion-label>
    </ion-list-header>

    <ion-item *ngFor="let adm of admins | async">
      <ion-label>
        <h2>{{adm.nome}}</h2>
        <p>{{adm.email}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>
        Atendidos
      </ion-label>
    </ion-list-header>

    <ion-item *ngFor="let atendido of atendidos | async" (click)="presentModal(atendido)">
      <ion-label>
        <h3>{{atendido.nome}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentModal('adicionar')">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>