<ion-header>
  <ion-toolbar [color]="colorStatus?'toolbar-color':'medium'">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class=ion-text-left>{{ this.info.Nome}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      <h3>
        Preencha os dados abaixo
      </h3>
    </ion-label>
  </ion-item>

  <ion-list>
    <ion-item>
      <ion-label>Data de Atendimento</ion-label>
      <ion-datetime display-format="DD MMM YYYY" strin cancelText="Cancelar" doneText="Escolher"
        [ngModel]="dateAtend.toISOString()" placeholder="Seleciona a data" (ionChange)="mudaData( $event )">
      </ion-datetime>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label position="floating">PERÍODO</ion-label>

      <ion-datetime display-format="HH:mm" cancelText="Cancelar" doneText="Escolher" ([ngModel])="pInput"
        placeholder="Hora de Chegada" (ionChange)="mudaIn( $event )">
      </ion-datetime>

      <ion-datetime display-format="HH:mm" cancelText="Cancelar" doneText="Escolher" ([ngModel])="pOutput"
        placeholder="Hora de Saída" (ionChange)="mudaOut( $event )">
      </ion-datetime>

    </ion-item>



    <ion-item>
      <ion-label position="floating">NECESSIDADES FISIOLÓGICAS</ion-label>
      <ion-input [(ngModel)]="nTime" type="number" maxlength="2" placeholder="Número de vezes:"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label>Comeu: </ion-label>
      <ion-checkbox [(ngModel)]="comeu" color="medium"></ion-checkbox>
    </ion-item>


    <ion-item>
        <ion-label position="floating">COMPORTAMENTO:</ion-label>
      <ion-range min="0" max="10" pin="true" [(ngModel)]="conduct" color="medium">
        <ion-icon slot="start" name="sad"></ion-icon>
        <ion-icon slot="end" name="happy"></ion-icon>
        <ion-note color="dark" slot="end">
          {{conduct}}
        </ion-note>

      </ion-range>
    </ion-item>

    <ion-item>
        <ion-label position="floating">COMENTÁRIO:</ion-label>
        <ion-textarea [(ngModel)]="comentario" rows="10" cols="30"></ion-textarea>
      </ion-item>
  </ion-list>

  <ion-button (click)="send()" expand="block" color="medium">Enviar Informe</ion-button>
</ion-content>