<ion-header>
  <ion-toolbar [color]="colorStatus?'toolbar-color':'medium'">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class=ion-text-left>Nome da criança</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Data de Atendimento</ion-label>
      <ion-datetime 
      display-format="DD MMM YYYY"
      strin
      cancelText="Cancelar" 
      doneText="Escolher"
      [ngModel]="dateAtend.toISOString()"
      placeholder="Seleciona a data"
      (ionChange)="mudaData( $event )"></ion-datetime>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Preencha os dados abaixo
    </ion-list-header>

    <ion-item>
      <ion-label position="floating">PERÍODO</ion-label>
      <ion-row wrap>
        <ion-col size="5.5">
          <ion-input [(ngModel)]="pInput" placeholder="Chegada:"></ion-input>
        </ion-col>

        <ion-col size="5.5">
          <ion-input [(ngModel)]="pOutput" placeholder="Saída:"></ion-input>
        </ion-col>
      </ion-row>
    </ion-item>



    <ion-item>
      <ion-label position="floating">NECESSIDADES FISIOLÓGICAS</ion-label>
      <ion-input [(ngModel)]="nTimes" placeholder="Vezes:"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label>Comeu: </ion-label>
      <ion-checkbox [(ngModel)]="comeu" color="medium"></ion-checkbox>
    </ion-item>


    <ion-item>
      <ion-label position="floating">COMPORTAMENTO:</ion-label>
      <ion-range min="0" max="10" pin="true" [(ngModel)]="conduct" color="medium">

        <ion-icon slot="start" name="sad"></ion-icon>
        <ion-icon slot="end" name="happy"></ion-icon>
        <ion-note color="dark" slot="end">
          {{conduct}}
        </ion-note>

      </ion-range>
    </ion-item>
  </ion-list>
</ion-content>