<ion-header>
  <ion-toolbar [color]="colorStatus?'toolbar-color':'medium'">
    <ion-buttons slot="end">
      <ion-button (click)="sair()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Agenda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding>
      <ion-item *ngFor="let atendido of atendidos | async" (click)="presentModal(atendido)">
        <ion-avatar slot="start">
          <img [src]="atendido.foto">
        </ion-avatar>
       <p>{{atendido.nome}}</p>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>