<ion-header>
  <ion-toolbar [color]="colorStatus?'toolbar-color':'medium'">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="typo == 'pais'" class=ion-text-left>Detalhes do Evento</ion-title>
    <ion-title *ngIf="typo == 'adm'" class=ion-text-left>Adicionar Evento</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="typo == 'pais'">
    <ion-card>

      <ion-card-header>
        <ion-card-subtitle>Descrição:</ion-card-subtitle>
        <ion-card-title>{{this.info.nomeEvento}}</ion-card-title>
      </ion-card-header>

      <ion-card-header>
        <ion-card-subtitle>Realização:</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Data: {{ this.info.dataEvento.toDate() | date: 'dd/MM/yyyy' }} <br>
        Hora: {{ this.info.horaInicio.toDate() | date: 'HH:mm' }} às {{ this.info.horaTermino.toDate() | date: 'HH:mm' }}
      </ion-card-content>


      <ion-card-header>
        <ion-card-subtitle>Mais detalhes:</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{this.info.detalheEvento}}
      </ion-card-content>
    </ion-card>
  </div>


  <div *ngIf="typo == 'adm'">
    <!--ADICIONAR UM FORMULÁRIO AQUI-->

    <ion-list>
      <ion-item>
        <ion-label position="floating">Nome do Evento</ion-label>
        <ion-input type="text" [(ngModel)]="nomeEvento" placeholder="Ex.: Assembleia de pais"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Realização</ion-label>

        <ion-datetime display-format="HH:mm" cancelText="Cancelar" doneText="Escolher" ([ngModel])="horaInicio"
          placeholder="Hora de Início" (ionChange)="mudaIn( $event )">
        </ion-datetime>

        <ion-datetime display-format="HH:mm" cancelText="Cancelar" doneText="Escolher" ([ngModel])="horaTermino"
          placeholder="Hora de Término" (ionChange)="mudaFin( $event )">
        </ion-datetime>

        <ion-datetime display-format="DD MMM YYYY" strin cancelText="Cancelar" doneText="Escolher"
          ([ngModel])="dataEvento.toISOString()" placeholder="Seleciona a dia" (ionChange)="mudaData( $event )">
        </ion-datetime>
      </ion-item>



      <ion-item>
        <ion-label position="floating">Mais Detalhes:</ion-label>
        <ion-textarea [(ngModel)]="detalheEvento" rows="5" cols="30"></ion-textarea>
      </ion-item>
    </ion-list>

    <ion-button (click)="subEvento()" expand="block" color="medium">Criar Evento</ion-button>


  </div>







</ion-content>